<div class="main">
    <section class="left">
        <div class="league">
            <div class="league-selects">
                <select class="league-selection">
                    <option value="1">Pure CSS Select</option>
                    <option value="1">Pure CSS Select</option>
                    <option value="2">No JS</option>
                    <option value="3">Nice!</option>
                </select>
            </div>
            <div class="league-card"></div>
            <div class="league-progress"></div>
        </div>
        <div class="standings"></div>
    </section>
    <section class="middle">

    </section>
    <section class="right">
        <div class="calendar"></div>
        <div class="featured-match"></div>
        <div class="top-players"></div>
    </section>
</div>