<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Касса</title>
    <link rel="stylesheet" href="../static/css/page1.css">
</head>
<body class="page__body">
<main class="main">
    <div class="transition">
    <section class="storage">
    <div class="left">
        <div class="logo"></div>
        <div class="sidebar">
          <div class="account">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.4" d="M12.5 12.5C15.3764 12.5 17.7083 10.1681 17.7083 7.29167C17.7083 4.41518 15.3764 2.08333 12.5 2.08333C9.62348 2.08333 7.29163 4.41518 7.29163 7.29167C7.29163 10.1681 9.62348 12.5 12.5 12.5Z" fill="#292D32"></path>
              <path d="M12.5 15.1042C7.28125 15.1042 3.03125 18.6042 3.03125 22.9167C3.03125 23.2083 3.26042 23.4375 3.55208 23.4375H21.4479C21.7396 23.4375 21.9687 23.2083 21.9687 22.9167C21.9687 18.6042 17.7187 15.1042 12.5 15.1042Z" fill="#292D32"></path>
            </svg>
            <div>
              <p class="account-username">Сан Саныч</p>
              <span class="account-login">sanuch.s</span>
            </div>
          </div>
          <ul class="sidebar__list list-reset">
            <li class="sidebar__list-item active">
              <button class="sidebar-button">Касса</button>
            </li>
            <li class="sidebar__list-item">
              <button class="sidebar-button">Склад</button>
            </li>
            <li class="sidebar__list-item">
              <button class="sidebar-button">Статистика</button>
            </li>
            <li class="sidebar__list-item">
              <button class="sidebar-button">Продажи</button>
            </li>
          </ul>
          <div></div>
        </div>
      </div>
    </section>>
        </div>
    </main>>
    <script type="module" src="../static/js/page1.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.4.1.min.js"></script>
</body>
</html>