html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: 'YesevaOne', sans-serif;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.storage {
  background: linear-gradient(107.56deg, #6ABFB5 0%, rgba(0, 0, 0, 0.8) 63.66%);
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left {
  width: 12%;
}
.left .logo {
  width: 140px;
  height: 60px;
  margin: 40px 30px;
  background: #fff;
}

.right {
  width: 88%;
}

.sidebar {
  background: #fff;
  padding: 35px 20px 0 20px;
  border-radius: 0 40px 0 0;
  height: 100vh;
}
.sidebar__list {
  padding: 140px 0;
  background: 0 0;
}
.sidebar__list-item {
  width: 100%;
}
.sidebar__list-item:not(:last-child) {
  margin-bottom: 70px;
}
.sidebar__list-item.active {
  position: relative;
}
.sidebar__list-item.active::after {
  position: absolute;
  content: "";
  width: calc(100% + 40px);
  height: 70px;
  right: -20px;
  top: -20px;
  z-index: 1;
  border-radius: 20px 0 0 20px;
  background: #416F6A;
}
.sidebar-button {
  width: 100%;
  height: 30px;
  background: #c0c0c0;
  -webkit-box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.sidebar-button:hover {
  background: #b6b5b5;
}
.sidebar .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 0 0 15px 15px;
}
.sidebar .account-username {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.sidebar .account-login {
  display: block;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
.sidebar .account svg {
  margin-right: 20px;
}

.dashboard {
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  margin: 140px 30px 0 45px;
  height: 100vh;
}
.dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 50px;
}
.dashboard__buttons {
  display: flex;
  align-items: center;
  position: relative;
}
.dashboard__single-button {
  width: 175px;
  height: 45px;
  background: #C0C0C0;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
  color: #000;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.dashboard__single-button:hover {
  background: #b6b5b5;
}
.dashboard__single-button:not(:last-child) {
  margin-right: 30px;
}

.discard__modal {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
  border-radius: 20px;
  width: 580px;
  background: #d9d9d9;
  padding: 20px 35px;
}

.discard__modal > p {
  display: block;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}

.dashboard__interactive {
  display: flex;
}
.dashboard__search {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 60px;
}
.dashboard__search span {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #000;
  margin-right: 25px;
}
.dashboard__search-button {
  background: transparent;
  border: none;
}
.dashboard__search-button svg {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.dashboard__search-input {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(4px, 2px);
  width: 192px;
  height: 18px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  position: relative;
  padding: 0 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}
.dashboard__search-input:focus {
  outline: none;
}
.dashboard__search div {
  border-radius: 5px;
  background: #D9D9D9;
  width: 200px;
  height: 22px;
}
.dashboard__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dashboard__sort span {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #000;
  margin-right: 25px;
}

.dashboard__main {
  display: flex;
  justify-content: center;
}

.table {
  margin: 0 25px;
  width: 100%;
  height: 100vh;
  background: #D9D9D9;
  border-radius: 10px 10px 0 0;
  border-collapse: collapse;
  border-spacing: 15px;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  color: #000;
}

.table__header, .table__row {
  display: grid;
  grid-template-columns: 50px minmax(250px, 1fr) repeat(6, minmax(120px, 1fr));
  height: 44px;
  align-items: center;
  position: relative;
}

.table__header::after, .table__row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 3px;
  width: calc(100% - 6px);
  height: 1px;
  background: #eeeeee;
  border-radius: 100px;
}

.table__header span:not(:last-child)::after, .table__row span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: calc(100% - 6px);
  background: #eeeeee;
  border-radius: 100px;
}

.table__header span, .table__row span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 7px 0 15px;
}

.table__header span svg, .table__row span svg {
  cursor: pointer;
}

.table__header span:not(:first-child), .table__row span:not(:first-child) {
  padding-left: 25px;
}